<div>
  <h1>Health Indicators</h1>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search Facilities" ng-model="searchIndicators">

      </div>
    </div>
  </form>
  <table class="table table-condensed table-bordered">
    <thead class="strong-header">
      <tr>
        <td class="centered">
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
        Counties
        <span ng-show="sortType == 'name && !sortReverse'" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'name && sortReverse'" class="fa fa-caret-up"></span>
      </td>
      <td class="centered">
        <a href="#" ng-click="sortType = 'service'; sortReverse = !sortReverse">
        Service
        <span ng-show="sortType == 'service && !sortReverse'" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'service && sortReverse'" class="fa fa-caret-up"></span>
      </td>
      <td class="centered">
        <a href="#" ng-click="sortType = 'outcomes'; sortReverse = !sortReverse">
        Outcomes
        <span ng-show="sortType == 'outcomes && !sortReverse'" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'outcomes && sortReverse'" class="fa fa-caret-up"></span>
      </td>
      <td class="centered">
        <a href="#" ng-click="sortType = 'funding'; sortReverse = !sortReverse">
        Funding
        <span ng-show="sortType == 'funding && !sortReverse'" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'funding && sortReverse'" class="fa fa-caret-up"></span>
      </td> 
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="indicator in home.indicators | orderBy:sortType:sortReverse | filter:searchIndicators">
      <td>{{ indicator.name }}</td>
        <td class="centered"><i class="fa fa-circle fa-3" ng-style="{background-color: home.service}" ></i></td>
        <td class="centered"><i class="fa fa-circle fa-3" ng-style="{background-color: home.outcomes}" ></i></td>
        <td>{{ indicator.funding }}</td>
      </tr>
  </tbody>
</table>
</div>