/** top tiles  */

.tile_count {
  margin-bottom: 20px;
  margin-top: 20px;
}

.tile_count .tile_stats_count {
  border-bottom: 1px solid #D9DEE4;
  padding: 0 10px 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

@media (min-width: 992px) {
  footer {
    margin-left: 230px;
  }
}

@media (min-width: 992px) {
  .tile_count .tile_stats_count {
    margin-bottom: 10px;
    border-bottom: 0;
    padding-bottom: 10px;
  }
}

.tile_count .tile_stats_count:before {
  content: "";
  position: absolute;
  left: 0;
  height: 65px;
  border-left: 2px solid #ADB2B5;
  margin-top: 10px;
}

@media (min-width:992px) {
  .tile_count .tile_stats_count:first-child:before {
    border-left: 0;
  }
}

.tile_count .tile_stats_count .count {
  font-size: 30px;
  line-height: 47px;
  font-weight: 600;
}

@media (min-width:768px) {
  .tile_count .tile_stats_count .count {
    font-size: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .tile_count .tile_stats_count .count {
    font-size: 30px;
  }
}

.tile_count .tile_stats_count span {
  font-size: 12px;
}

@media (min-width:768px) {
  .tile_count .tile_stats_count span {
    font-size: 13px;
  }
}

.tile_count .tile_stats_count .count_bottom i {
  width: 12px;
}

.red {
  color: #E74C3C;
}

.green {
  color: #1ABB9C;
}


/*Data Source Row*/

.tile_sources {
  margin-bottom: 5px;
  margin-top: 5px;
}

.tile_sources .data_sources {
  border-bottom: 1px solid #D9DEE4;
  padding: 0 5px 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

@media (min-width: 992px) {
  footer {
    margin-left: 230px;
  }
}

@media (min-width: 992px) {
  .tile_sources .data_sources {
    margin-bottom: 5px;
    border-bottom: 0;
    padding-bottom: 5px;
  }
}


/*.tile_sources .data_sources:before {
  content: "";
  position: absolute;
  left: 0;
  height: 65px;
  border-left: 2px solid #ADB2B5;
  margin-top: 10px;
}*/

@media (min-width:992px) {
  .tile_sources .data_sources:first-child:before {
    border-left: 0;
  }
}

.tile_sources .data_sources .data_source {
  font-size: 30px;
  line-height: 47px;
  font-weight: 600;
}

.data_sources {
  text-align: left;
}

@media (min-width:768px) {
  .tile_sources .data_sources .data_source {
    font-size: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .tile_sources .data_sources .data_source {
    font-size: 30px;
  }
}

.tile_sources .data_sources span {
  font-size: 10px;
}

@media (min-width:768px) {
  .tile_sources .data_sources span {
    font-size: 11px;
  }
}

.tile_sources .data_sources .last_update .days_since .days_count i {
  width: 12px;
}

.tile_sources {
  margin-bottom: 5px;
  margin-top: 5px;
}

.tile_sources .data_sources {
  border-bottom: 1px solid #D9DEE4;
  padding: 0 5px 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

@media (min-width: 992px) {
  footer {
    margin-left: 230px;
  }
}

@media (min-width: 992px) {
  .tile_sources .data_sources {
    margin-bottom: 5px;
    border-bottom: 0;
    padding-bottom: 5px;
  }
}

a {
  color: black;
  text-decoration: underline;
}


/*
a:hover {
  color: #1A5077;
  text-decoration: none;
  cursor: pointer;
}*/


/*#chart1 {
  width: 100% !important;
}*/


/*[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}*/

.preloader {
  padding: 50px;
  background: url('../../public/preloaders/preloader_5.gif') no-repeat 50% 50% transparent;
}

.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

h3.card-title {
  display: block;
  font-size: 24px;
}

span.prog-title {
  font-size: 11px;
}