<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{ fac.facility.fName }}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4 col-lg-4" align="center">
              <pie></pie>
              <br>
              <br>
              <div class="rating-legend">
                <table class="table" id="table-ratings-legend">
                  <tbody>
                    <tr>
                      <td class="legend-cell">
                        <span class="pillar1"><i class="fa fa-circle"></i></span>
                      </td>
                      <td class="legend-cell">
                        <p class="pillar-name">Pillar 1</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="legend-cell">
                        <span class="pillar2"><i class="fa fa-circle"></i></span>
                      </td>
                      <td class="legend-cell">
                        <p class="pillar-name">Pillar 2</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="legend-cell">
                        <span class="pillar3"><i class="fa fa-circle"></i></span>
                      </td>
                      <td class="legend-cell">
                        <p class="pillar-name">Pillar 3</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="legend-cell">
                        <span class="pillar4"><i class="fa fa-circle"></i></span>
                      </td>
                      <td class="legend-cell">
                        <p class="pillar-name">Pillar 4</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="legend-cell">
                        <span class="pillar5"><i class="fa fa-circle"></i></span>
                      </td>
                      <td class="legend-cell">
                        <p class="pillar-name">Pillar 5</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="legend-cell">
                        <span class="pillar6"><i class="fa fa-circle"></i></span>
                      </td>
                      <td class="legend-cell">
                        <p class="pillar-name">Pillar 6</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class=" col-md-8 col-lg-8">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>State:</td>
                    <td>{{ fac.facility.stName }}</td>
                  </tr>
                  <tr>
                    <td>County:</td>
                    <td>{{ fac.facility.cName }}</td>
                  </tr>
                  <tr>
                    <td>Payam:</td>
                    <td>{{ fac.facility.pName }}</td>
                  </tr>
                  <tr>
                    <tr>
                      <td>Managing Entity:</td>
                      <td>{{ fac.facility.fOwnership }}</td>
                    </tr>
                    <tr>
                      <td>Total Staff:</td>
                      <td>{{ fac.facStaff.length }}</td>
                    </tr>
                    <tr>
                      <td>Male Staff:</td>
                      <td>{{ fac.maleStaffCount }}</td>
                    </tr>
                    <tr>
                      <td>Female Staff:</td>
                      <td>{{ fac.femaleStaffCount }}</td>
                    </tr>
                </tbody>
              </table>
            </div>
            <a href="#" value="show/hide staff" ng-click="fac.ShowHide()" class="btn btn-primary show-staff">
              Facility Staff Information
              </a>
            <a href="/data" class="btn btn-info return-to-table">
              Return to Table
              </a>
            <br>
            <br>
            <div class="col-md-3 col-lg-3" align="center"></div>
            <div ng-show="fac.isVisible" class="col-md-9 col-lg-9">
              <table class="table table-staff-information">
                <tbody>
                  <tr>
                    <th>Role</th>
                    <th>Number of Staff</th>
                  </tr>
                  <tr ng-repeat="staff in fac.roleCount">
                    <td>{{ staff.key }}: </td>
                    <td>{{ staff.values }}</td>
                    <!--<td>{{ fac.facility.stName }}</td>-->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>