.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-center {
  text-align: center
}

.description-title {
  text-decoration: underline;
}

ol li {
  font-size: 12px;
}